.l_background {
  background-image: url('/assets/img/l_backgroud.png');
  display: flex;
  justify-content: center;
  align-items: center;
}

.l_container {
  margin: 0 auto;
  width: 415px;
  height: 100vh;
  margin: 1px dashed #ffff;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.rec_logo {
  width: 230px;
  height: 215px;
  background: #f31632;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 30px;

  span {
    font-size: 3rem;
    font-weight: 400;
    color: #ffff;
    display: flex;

    i {
      font-size: 0.8125rem;
      padding: 10px 0px;
      color: #ffe329;
    }
  }
}

.considerations {
  font-size: 12px;
  line-height: 30px;
  color: #66686f;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.message-login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  height: 100px;
  padding: 30px;

  span {
    font-size: 1.875rem;
    letter-spacing: -1px;
    line-height: 44px;
    color: #ffffff;
    font-weight: 300;
    text-align: center;
  }
}

.login-form {
  padding-bottom: 20px;

  &__form-input {
    input {
      height: 40px;
      width: 415px;
      border-radius: 4px;
      padding: 10px 40px;
      border: 0;
      margin-bottom: 20px;
    }

    &--lock {
      position: relative;
      top: -53px;
      left: 13px;
      color: #a6a6a6;
    }

    &--eye {
      position: relative;
      top: -53px;
      left: 378px;
      background: none;
      border: none;
      color: #a6a6a6;
    }
  }

  &__form-check {
    display: flex;
    align-items: center;

    input {
      width: 20px;
      height: 20px;
      margin-right: 10px;
    }

    span {
      font-size: 0.875rem;
      letter-spacing: 0px;
      line-height: 30px;
      color: #ffffff;
      font-weight: 400;
    }
  }
}

.btn-submit {
  width: 100%;

  button {
    width: 100%;
    background: #f31632;
    color: #ffff;
    height: 40px;
    text-align: center;
    border: none;
    cursor: pointer;
    font-size: 1.25rem;
    letter-spacing: 0px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 600;
  }

  button:hover {
    opacity: 0.6;
  }

  button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
