.container-table {



  .table-header {
    border-bottom: 2px solid #e2e2e2;
    border-top: 2px solid #e2e2e2;
    padding-bottom: 2%;
    padding-top: 2%;
  }
}

.card-style {
  background: #fff;
  margin-bottom: 2%;
  width: 100%;
  box-shadow: 1px 3px #e5e5e5;
}
